{% extends "base.html" %}

{% block body %}

    {% if searchResult %}
        <h1>Top 3 Trending Streams </h1>
        {% for img in searchResult %}
            <div id="imgGrid">
                <a href="/ViewStream?stream={{img['key']}}&cursor=">
                    <FIGURE>
                        <object data="{{img['cover_url']}}" alt="{{img_name}}" style="width:200px;height:150px;border:0" type="image/png">
                            <img src="http://stackoverflow.com/content/img/so/logo.png" alt="{{img_name}}" style="width:200px;height:150px;border:0">
                        </object>
                        <!--<img src="{{img['cover_url']}}" alt="{{img_name}}" style="width:200px;height:150px;border:0">-->
                        <FIGCAPTION>{{img['stream_name']}}</FIGCAPTION>
                        <FIGCAPTION>{{img['trending_stream_count']}} in the past hour</FIGCAPTION>
                    </FIGURE>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <h1> No streams to display</h1>
    {% endif %}

            <form action="/TrendingStreams" method="post" id="emailPref">
                    <legend> Email trending report: </legend>
                    <ul class="checkbox-grid">
                        <li><label for="noReport">No Report</label>         <input type="radio" name="rate" value="0"/>          </li><br>
                        <li><label for="every5min">Every 5 minutes</label>  <input type="radio" name="rate" value="5" />  </li><br>
                        <li><label for="every1min">Every 1 hour</label>     <input type="radio" name="rate" value="60" />     </li><br>
                        <li><label for="everyDay">Every day</label>         <input type="radio" name="rate" value="1440" />         </li><br>
                        <li></li><input name="unSubsButton" type="submit" value="Update rate"></ul>
                    </ul>
            </form>


{% endblock body %}